/*PAGINA CONTANTOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO*/


.Contacto__title--principal {
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    font-size: 4rem;
    font-family: "Quicksand", sans-serif;
    color: rgb(7, 66, 150);
    background-color: rgba(240, 248, 255, 0.274);
    border-radius: 1rem;
  }
  
  .Contacto__refuerzo--title {
    display: inline-block;
    text-align: center;
    font-size: 2rem;
    margin: 3rem;
    font-family: "Montserrat", sans-serif;
    background-color: rgba(240, 248, 255, 0.274);
    border-radius: 1rem;
  }
  
  .section__formulario {
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin: 1rem;
  
    .fieldset__form {
      font-family: "Quicksand", sans-serif;
      background-color: rgba(240, 248, 255, 0.274);
      font-size: 2rem;
      border-radius: 1%;
      margin: 1rem;
      padding: 2rem;
    }
  }