/*SECCION NOSOTROSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS*/


/*HERO--NOSOTROS*/
.hero__nosotros {
    margin: 1rem;
    padding-left: 3rem;
    align-items: center;
    background-color: rgba(240, 248, 255, 0.274);
    border-radius: 0.3rem;
  
  
    .hero__nosotros--title {
      padding: 3rem;
      text-align: center;
      font-size: 4rem;
      font-family: "Quicksand", sans-serif;
      color: rgb(7, 66, 150);
    }
  
    .hero__nosotros--text {
      text-align: center;
      margin: 1rem 35rem;
      font-family: "Montserrat", sans-serif;
      font-size: 1.5rem;
      background-color: rgba(240, 248, 255, 0.425);
      border-radius: 10px;
      line-height: 2.3rem;
      letter-spacing: 2%;
    }
  
    .click__aqui--nosotros {
      display: inline-block;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      /*No pude centrar el anchor de otra forma, se que estoy haciendo algo mal*/
      margin-left: 52rem;
      text-decoration: none;
      color: rgb(7, 62, 110);
      font-size: 2rem;
      background-color: rgba(113, 162, 204, 0.438);
      border-radius: 0.3rem;
      border-color: black;
      border: solid rgba(30, 65, 129, 0.233);
    }
  }
  /*FIN HERO--NOSOTROS*/