/*PAGINA NOTICIASSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS*/
.hero__noticias {
    margin: 2rem;
    align-items: center;
    background-color: rgba(240, 248, 255, 0.274);
    border-radius: 0.3rem;
  
  
    .hero__slogan--noticias {
      text-align: center;
      margin-bottom: 5rem;
      margin: 3rem;
      font-family: "Quicksand", sans-serif;
      color: rgb(16, 68, 139);
      font-size: 50px;
      text-shadow: 1px 1px 0 black;
    }
  
    .media {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
      align-items: center;
    
  
      .video1 {
        margin: 8 rem;
      }
  
      .video2 {
        margin: 8rem;
      }
  }
}
  /*FIN NOTICIAS*/