*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background__body{
    
    background: url(../../img/pexels-flo-maderebner-755385.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/*PAGINA PRINCIPALLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL*/


/*HEADER*/

.header{
    background-color: rgba(240, 248, 255, 0.603);

    margin: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: .3rem;
}

.header__logo{
    max-width: 300px;
    animation: ease-in animacion 0.5s;
}
@keyframes animacion {
    0%{
    transform: scale(0)
    }
    100%{
    transform:scale(1)
    }
}

.header__list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__menu{
    margin: 1rem;
    list-style: none;
    font-size: 2rem;
    text-decoration: solid;
    transition: all 1s;
}
.header__menu:hover{
    transform: scale(1.3);
}

.header__anchor{
    display: inline-block;
    text-decoration: none;
    color: rgb(9, 71, 187);
    font-family: 'Quicksand', sans-serif;
    text-shadow: .4px .4px 0 black;;
}

/*FIN HEADER*/


/* COMIENZO HERO */

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    margin: 1rem;
    padding-left:  3rem;
    align-items: center;
    align-items: flex-start;
    background-color: rgba(240, 248, 255, 0.274);
    border-radius: .3rem;
    
}

.hero__slogan{
    
    font-family: 'Quicksand', sans-serif;
    color: rgb(16, 68, 139);
    font-size: 80px;
    text-shadow: 1px 1px 0 black;
}

.hero__slogan--respaldo{
    display: inline-block;
    
    
    color: rgb(19, 57, 109);
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
    text-shadow: 1px 1px 0 black;
}

.btn{
    display: inline-block;
    align-items: baseline;
    text-decoration: none;
    padding: 1.2rem;
    background-color: rgba(185, 201, 214, 0.438);
    color: rgb(31, 45, 65);
    font-size: 2.5rem;
    border-radius: .3rem;
    border-color: black;
    border: solid rgba(30, 65, 129, 0.233);
    font-family: 'Quicksand', sans-serif;
    transition: color 0.5s;
}

.btn:hover {
    color: rgb(24, 84, 173);
}


/* FINAL HERO */


/* INFO*/


.info__title--principal{
    background-color: rgba(240, 248, 255, 0.507);
    color: rgb(19, 57, 109);
    padding: .5rem;
    margin: .5rem;
    font-family: 'MuseoModerno', cursive;   
    font-size: 2rem;
    align-items: center;
    text-align: center;
    border-radius: .3rem;
}

.info{
    display: flex;
    
}

.info__box{
    background-color:  rgba(240, 248, 255, 0.253);
    border-radius: .3rem;
    justify-content:space-evenly;
    margin: 2rem;
    padding: .5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}

.info__title{
    margin: 1rem;
    padding: 1rem;
    font-family: 'Quicksand', sans-serif;
    color: rgb(6, 32, 70);
    font-size: 1.5rem;
    text-align: center;
}   

.click__aqui{
    display: inline-block;
    margin-top: 1rem;
    text-decoration: none;
    color: rgb(7, 62, 110);
}

/*FIN INFO*/


/*FOOTER*/

.footer__title{
    text-align: center;
    font-size: 2rem;
    font-family: 'Quicksand', sans-serif;
    background-color:rgba(240, 248, 255, 0.11);
    color: rgb(31, 45, 65);
}
.header__footer{
    background-color: rgba(240, 248, 255, 0.158);
    height: 70px;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: .3rem;
    list-style: none;
}

.footer__menu{
    color: black;
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Quicksand', sans-serif;
}

/*FIN FOOTER*/

/*FIN SECCION PRINCIPAL*/

/*SECCION NOSOTROSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS*/

/*HERO--NOSOTROS*/

.hero__nosotros{
    margin: 1rem;
    padding-left:  3rem;
    align-items: center;
    background-color: rgba(240, 248, 255, 0.274);
    border-radius: .3rem;
}

.hero__nosotros--title{
    padding: 3rem;
    text-align: center;
    font-size: 4rem;
    font-family: 'Quicksand', sans-serif;
    color: rgb(7, 66, 150) ;
}

.hero__nosotros--text{
    
    text-align: center;
    margin: 1rem 35rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    background-color: rgba(240, 248, 255, 0.425);
    border-radius: 10px;
    line-height: 2.3rem;
    letter-spacing: 2%;
}

.click__aqui--nosotros{
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding: 1rem;

/*No pude centrar el anchor de otra forma, se que estoy haciendo algo mal*/
    margin-left: 52rem;
    text-decoration: none;
    color: rgb(7, 62, 110);
    font-size: 2rem;
    background-color:rgba(113, 162, 204, 0.438);
    border-radius: .3rem;
    border-color: black;
    border: solid rgba(30, 65, 129, 0.233);

}

/*FIN HERO--NOSOTROS*/

/*SECCION SERVICIOSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS*/

/*SECCION PRINCIPAL*/

.hero__servicios{
    
    margin: 1rem;
    align-items: center;
    background-color: rgba(240, 248, 255, 0.274);
    border-radius: .3rem;
    
}

.header__title--principal{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 4rem;
    color: rgb(7, 66, 150);  
}

span.info__title{
    font-size: 2.5rem;
}

p.box__text{
    font-size: 1.5rem;
}
a.btn{
    margin: 2rem;
    font-size: 2rem;
    
}
/*FIN SECCION PRINCIPAL*/

/*SECCION SECUNDARIA*/

.tipos__servicios{
    margin: 1rem;
    align-items: center;
    background-color: rgba(240, 248, 255, 0.274);
    border-radius: .3rem;
}

.header__title--secondary{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 3rem;
    color: rgb(7, 66, 150); 
}

.list__container{
    margin-top: 2rem;
    text-align: center;
    list-style: circle;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
}
/*FIN SECCION SECUNDARIA*/

/*FIN PAGINA SERVICIOS*/

/*PAGINA NOTICIASSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS*/

.hero__noticias{
    
    margin: 2rem;
    align-items: center;
    background-color: rgba(240, 248, 255, 0.274);
    border-radius: .3rem;
    
}.hero__slogan--noticias{
    text-align: center;
    margin-bottom: 5rem;
    margin: 3rem;
    font-family: 'Quicksand', sans-serif;
    color: rgb(16, 68, 139);
    font-size: 50px;
    text-shadow: 1px 1px 0 black
    
}

.media{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;

}

.video1{
    margin: 8 rem;
   
}

.video2{
    
    margin: 8rem;
   
}

/*FIN NOTICIAS*/

/*PAGINA CONTANTOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO*/

.Contacto__title--principal{
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    font-size: 4rem;
    font-family: 'Quicksand', sans-serif;
    color: rgb(7, 66, 150);
    background-color:rgba(240, 248, 255, 0.274);
    border-radius: 1rem;
}

.Contacto__refuerzo--title{
    display: inline-block;
    text-align: center;
    font-size: 2rem;
    margin: 3rem;
    font-family: 'Montserrat', sans-serif;
    background-color:rgba(240, 248, 255, 0.274);
    border-radius: 1rem;
}


.section__formulario{
    display: flex;
    justify-content:center;
    padding: 1rem;
    margin: 1rem;
    
}

.fieldset__form{
    font-family: 'Quicksand', sans-serif;
    background-color:rgba(240, 248, 255, 0.274);
    font-size: 2rem;
    border-radius: 1%;
    margin: 1rem;
    padding: 2rem;
}

/*MEDIAS QUERIES*/

@media only screen and (max-width: 576px) {

/*Index*/
  
.background__body {
  
    background-size: cover;
  
    background-repeat: no-repeat;
  
}
  
.header {
  
    flex-direction: column;
  
    justify-content: space-between;
  
}
  
.header__menu {
  
    font-size: 1rem;
  
}
  
.footer__menu {
  
    font-size: 1rem;
  
}
  
.info {
  
    flex-direction: column;
  
}
  
/*.hero__slogan--box {
  
    display: flex;
  
    flex-direction: column;
  
    align-items: center;
  
    text-align: justify;
  
}*/
  
.hero__slogan {
  
    font-size: 3rem;
  
}
  
.hero__slogan--respaldo {
  
    font-size: 2rem;
  
}
  
.btn {
  
    margin: 1rem;
  
}
/*Servicios*/  

.list__container{
    display: inline;
}


/*Contacto*/
.Contacto__title--principal{
    font-size: 2rem;
}

.Contacto__refuerzo--title{
    font-size: 1.5rem;
    padding: 1rem;
}

.fieldset__form span {
    font-size: 1.2rem;
    
}


/*Noticias*/

.media{
    
    display: block;
}

.media1{
    width: 100%;
}

.video2{

    width: 100%;
    margin: 0rem;
    overflow: hidden;
}


/*Nosotros*/



.hero__nosotros--text{
    display: inline-block;
    margin: 0rem;
    font-size: 1.2rem;
    
}

.click__aqui--nosotros{
    display: block;
    
    margin: 1rem;
    padding: 1rem;
}

}


